/* Barra de navegacion */

.navbar {
  padding: 2rem;
  background-color: #f5f6f7;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;  
}

/* Estilos generales */

section {
  display: flex;
  flex-direction: column;
}

img
  {
    height: 100px;
  }

.Typewriter_cursor
  {
    color: #0a0a23 !important;
  }


h1 {
  font-size: 5rem;
  text-shadow: 0px 0px 60px 0px #0a0a23 ;
  font-family: 'Belanosima', sans-serif;
  margin-top: -50px;
  color: #da4500 ;
}

h4
  {
    font-size: 2rem; 
    font-family: 'Belanosima', sans-serif;
    margin-top: -20px;
  }



.seccion-oscura {
  color: white;
  background-color: #005c87;
  align-items: center;
  justify-content: center;
}

.seccion-clara {
  color: #0a0a23;
  background-color: rgb(255, 255, 255);
}

.seccion-titulo {
  font-size: 3.5rem;
  display: block;
  text-align: center;
  padding: 10px 0;
  font-family: 'Montserrat', sans-serif, ;
  font-weight: 300;
}

.seccion-descripcion {
  font-size: 1.2rem;
  color: #584e4e;
}

.seccion-texto {
  font-size: 1.2rem;
  margin-top: 30px;
  justify-content: left;
  align-items: left;
}

.btn-info {
  font-size: 1.1rem;
  display: block;
  text-align: center;
  margin: auto;
  margin-bottom: 10rem ;
  padding: 4px 255px;
  background-color: #9cb4f6;
  color: rgb(0, 0, 0);
}

.texto-negro {
  color: black;
}

.texto-blanco {
  color: white;
}

/* Seccion Hero */

.hero {
  background-color: #f5f6f7;
  min-height: 450px;
  text-align: center;
}

.hero-principal {
  padding: 3rem;
}

.hero-imagen-desarrollador {
  width: 400px;
  height: 400px;
  margin: 10px;
}

.hero-principal h2 {
  font-size: 1.5rem;
  color: #615151;
}

/* Sobre mi */
.icon-decorative
  {
    width: 20rem;
    height: 20rem;
    margin-top: -13rem;
    margin-left: 60rem;
  }

.sobre-mi {
  height: 350px;
  padding: 120px 0 50px 0;
}

.sobre-mi .contenedor {
  max-width: 1000px;
  text-align: left;
  margin-left: -20rem;
}

/* Experiencia */

.experiencia {
  padding: 200px 20px 180px 20px;
}

.experiencia .columna {
  padding: 40px 10px;
  border: 2px solid #8080804d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
  color: white;
  background-color: #f27f1a;
}

.experiencia i {
  font-size: 2.5rem;
  color: #7ade30;
  background-color: #0a0a23;
  padding: 8px 19px;
  border-radius: 50%;
}

.experiencia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.badges-contenedor {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
  
  
}

.badge {
  margin: 5px;
  background-color: #9cb4f6;
  color: #24264d;
}
.badges-contenedor
/* Proyectos */

.proyectos-recientes {
  padding: 40px;
}

.proyectos-recientes img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}

.proyectos-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 0;
}

.proyecto {
  position: relative;
}

.proyecto:hover img {
  opacity: 0.2;
}

.proyecto:hover .overlay {
  opacity: 1;
}

.overlay .iconos-contenedor {
  display: block;
  text-align: center;
}

.overlay i {
  color: black;
  font-size: 60px;
  margin: 10px;
}

/* Contacto */

.contacto .container 
{
  max-width: 1200px;
  min-height: 200px;
  margin-top: 10rem ;
  padding: 20px;
}

.contacto .rectangulo {
  margin-top: -5rem;
  background-color: #0075ad;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
}

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
}

.contacto .descripcion {
  color: white;
  font-size: 1.2rem;
}

.contacto button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover {
  background-color: white;
  color: black;
}

.contacto button i {
  color: white;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover i {
  color: black;
}

/* Pie de pagina (footer) */

footer {
  min-height: 100px;
  background-color: #0a3041
  
}

.footer-logo {
  height: 200px;
  width: 270px;
  display: block;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: auto;
  text-align: center;
  margin-bottom: -3rem;

}

.footer-texto {
  font-size: 1rem;
  padding: 60px;
  margin-bottom: 15px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color:white
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
  color: black;
}

.derechos-de-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}

/* Adaptable (Responsivo) */

@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }

  .overlay i {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .testimonio-imagen {
    height: 120px;
    width: 120px;
  }

  .testimonio-texto {
    font-size: 18px;
  }
}

@media screen and (min-width: 700px) {
  .hero-inferior-imagen {
    max-width: 600px;
  }
}
